body{
    background-color: #1b2b40;
    color: #f5f6f7;
    font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
  }
  
  .lego-set {
    display: flex;
    margin: 20px;
  }
  
  .lego-image {
    width: 50%;
  }
  
  .lego-image img {
    width: 60%;
  }
  
  .lego-description {
    width: 80%;
  }
  
  h3 {
    margin-top: 0;
    font-size: 20;
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    padding: 10px;
  }
  .submit-section{
      text-align: center;
      border-bottom: 1px solid white;
      padding-bottom: 10px;
  }